@import 'index.scss';
#editor-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;

    aside {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main-content {
        width: 80%;
    }
}
.editor-button {
    font-size: 1em;
    background-color: rgba($color: #ffffff, $alpha: 0.1);
    color: #ffffff;
    padding: 0.5em;
    cursor: pointer;
    transition: all 250ms;
    border: none;
    &:hover{
        background-color: $button;
        color: $text;
    }
    &:focus{
        outline: none;
    }
}
.content-canvas{
    background-color: rgba($color: #ffffff, $alpha: 0.03);
}