@import 'header.css';
@import 'footer.css';
@import 'nav.css';
@import 'seo.css';
@import 'cms.css';



#main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    flex-direction: column;
    #navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: ;em
        .logo {
          img{
            width: 150px;
          }
        }
    }
}